.slide-content__button  { display:none!important; } 
.slide-content__live_text {     max-width: 25em!important;  top: 1.5em!important;  font-size: 8px!important;   line-height: 1.1;     left: 1.5em!important; }
